<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Brand Flakes Example</title>
  <meta name="description" content="Brand Flakes example app">
  <meta name="author" content="Calvin Sauer">

  <script>
    function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
    }

    !function(b,f,l,a,k,e,s){b.BrandFlakesObject=l;b[l]||(b[l]=function(){
    (b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=f.createElement(a);
    s=f.getElementsByTagName(a)[0];e.src=k;s.parentNode.insertBefore(e,s)}
    (window,document,'BrandFlakes','script','//' + window.location.host + '/brand-flakes.min.js');

    BrandFlakes(
      getURLParameter('appId') || 'c3G9N6PXoJwnbXhsLHdoapbYw7j3bd',
      getURLParameter('userId'),
      function() {
        console.log("READY");
      }, 'debug'
    );
  </script>
</head>

<body>
  {{> examplePage}}
</body>

<template name="examplePage">
  <div class="container">
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Brand Flakes</a>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">Sprinkle some magic into your website!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How to use</h3>
          </div>
          <div class="panel-body">
            <ol>
              <li>Enter a random user id. <em>This is normally set by logging in within a real app.</em></li>
              <li>Click on some links in the word cloud.</li>
              <li>Refresh the page to see your favorite words become larger.</li>
              <li>Visit the page from a different device, enter the same user ID, and see that your changes are persistent!</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <form method="GET">
          <div class="form-group">
            <label for="userId">Set your user ID</label>
            <input id="userId" name="userId" class="form-control" type="text" placeholder="some-random-id"/>
          </div>
          <button type="submit" id="userId-submit-btn" class="btn btn-default">Set</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="word-cloud">
          {{#each activities}}
            {{> activityLink}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="activityLink">
  <a class="activity-link" href="#">{{this}}</a>
</template>
