<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Brand Flakes Example</title>
  <meta name="description" content="Brand Flakes example app">
  <meta name="author" content="Calvin Sauer">

  <script>
    function getURLParameter(name) {
      return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
    }

    !function(b,f,l,a,k,e,s){b.BrandFlakesObject=l;b[l]||(b[l]=function(){
    (b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=f.createElement(a);
    s=f.getElementsByTagName(a)[0];e.src=k;s.parentNode.insertBefore(e,s)}
    (window,document,'BrandFlakes','script','//' + window.location.host + '/brand-flakes.min.js');

    BrandFlakes(getURLParameter('appId'), getURLParameter('userId'), 'debug');
  </script>
</head>

<body>
  <div class="container">
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Brand Flakes</a>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">Sprinkle some magic into your website!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">How to use</h3>
          </div>
          <div class="panel-body">
            <ol>
              <li>Enter a random user id. <em>This is normally set by logging in within a real app.</em></li>
              <li>Click on some links in the word cloud.</li>
              <li>Refresh the page to see your favorite words become larger.</li>
              <li>Visit the page from a different device, enter the same user ID, and see that your changes are persistent!</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <form>
          <div class="form-group">
            <label for="user-id">Set your user ID</label>
            <input id="user-id" class="form-control" type="text" placeholder="some-random-id"/>
          </div>
          <button type="submit" class="btn btn-default">Set</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="word-cloud">
          <a href="#">Amateur radio</a>
          <a href="#">Acting</a>
          <a href="#">Baton twirling</a>
          <a href="#">Board games</a>
          <a href="#">Book restoration</a>
          <a href="#">Cabaret</a>
          <a href="#">Calligraphy</a>
          <a href="#">Candle making</a>
          <a href="#">Computer programming</a>
          <a href="#">Coffee roasting</a>
          <a href="#">Cooking</a>
          <a href="#">Coloring</a>
          <a href="#">Cosplaying</a>
          <a href="#">Couponing</a>
          <a href="#">Creative writing</a>
          <a href="#">Crocheting</a>
          <a href="#">Cryptography</a>
          <a href="#">Dance</a>
          <a href="#">Digital arts</a>
          <a href="#">Drama</a>
          <a href="#">Drawing</a>
          <a href="#">Do it yourself</a>
          <a href="#">Electronics</a>
          <a href="#">Embroidery</a>
          <a href="#">Fashion</a>
          <a href="#">Flower arranging</a>
          <a href="#">Foreign language learning</a>
          <a href="#">Gaming (tabletop games and role-playing games)</a>
          <a href="#">Gambling</a>
          <a href="#">Genealogy</a>
          <a href="#">Glassblowing</a>
          <a href="#">Gunsmithing</a>
          <a href="#">Homebrewing</a>
          <a href="#">Ice skating</a>
          <a href="#">Jewelry making</a>
          <a href="#">Jigsaw puzzles</a>
          <a href="#">Juggling</a>
          <a href="#">Knapping</a>
          <a href="#">Knitting</a>
          <a href="#">Kabaddi</a>
          <a href="#">Knife making</a>
          <a href="#">Lacemaking</a>
          <a href="#">Lapidary</a>
          <a href="#">Leather crafting</a>
          <a href="#">Lego building</a>
          <a href="#">Lockpicking</a>
          <a href="#">Machining</a>
          <a href="#">Macrame</a>
          <a href="#">Metalworking</a>
          <a href="#">Magic</a>
          <a href="#">Model building</a>
          <a href="#">Listening to music</a>
          <a href="#">Origami</a>
          <a href="#">Painting</a>
          <a href="#">Playing musical instruments</a>
          <a href="#">Pet</a>
          <a href="#">Poi</a>
          <a href="#">Pottery</a>
          <a href="#">Puzzles</a>
          <a href="#">Quilting</a>
          <a href="#">Reading</a>
          <a href="#">Scrapbooking</a>
          <a href="#">Sculpting</a>
          <a href="#">Sewing</a>
          <a href="#">Singing</a>
          <a href="#">Sketching</a>
          <a href="#">Soapmaking</a>
          <a href="#">Sports</a>
          <a href="#">Stand-up comedy</a>
          <a href="#">Sudoku</a>
          <a href="#">Table tennis</a>
          <a href="#">Taxidermy</a>
          <a href="#">Video gaming</a>
          <a href="#">Watching movies</a>
          <a href="#">Web surfing</a>
          <a href="#">Whittling</a>
          <a href="#">Wood carving</a>
          <a href="#">Woodworking</a>
          <a href="#">Worldbuilding</a>
          <a href="#">Writing</a>
          <a href="#">Yoga</a>
          <a href="#">Yo-yoing</a>
        </div>
      </div>
    </div>
  </div>
</body>
